version: 2
jobs:
  build:
    docker:
      - image: gebish/ci:v5
    environment:
      GRADLE_OPTS: -Xmx1024m -XX:MaxMetaspaceSize=256m
      GRADLE_USER_HOME: .gradle-home
    steps:
      - checkout
      - run:
          command: |
            ./gradlew --stacktrace --no-daemon check
      - store_artifacts:
          path: build/reports